RewriteEngine On
Options -Indexes

# Establecer la base del directorio para las reescrituras
RewriteBase /ecommerce/

# Redireccionar todas las solicitudes a index.php excepto para archivos y directorios reales
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]